<% layout('layout/boilerplate') %>

    <form action="/campground/new" method="post">
        <div>
            <input type="text" name="title" id="title">
            <label for="title">title</label>
        </div>
        <div>
            <input type="text" name="location" id="location">
            <label for="location">location</label>
        </div>
        <button type="submit">submit</button>
    </form>
    <a href="/campground">cancel</a>
