<% layout('layout/boilerplate') %>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">OHH NO ERROR OCCURRED !!!</h4>
    <p><%= error.message %></p>
    <hr>
    <p class="mb-0"><%= error.stack %></p>
  </div>
  