<% layout('layout/boilerplate') %>
    <h1>ALL CAMPGROUNDS</h1>
    <a href="campground/new">create</a>
    <ul>
            <% for (const i of data) {  %>
                <li><a href="/campground/<%= i._id %>"><%= i.title %></a></li>
            <% } %>
    </ul>
