<% layout('layout/boilerplate') %>

    <h1><%= data.title %></h1>
    <h2><%= data.location %></h2>
    <a href="/campground"> back </a> 
    <a href="/campground/<%=data._id%>/update"> update </a>
    <a href="/campground/<%=data._id%>/delete"> delete </a>
