<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/campground/<%=data._id%>?_method=PATCH" method="post">
        <div>
            <input type="text" name="title" id="title" value="<%= data.title %>">
            <label for="title">title</label>
        </div>
        <div>
            <input type="text" name="location" id="location" value="<%= data.location %>">
            <label for="location">location</label>
        </div>
        <button type="submit">submit</button>
    </form>
    <a href="/campground">cancel</a>
</body>
</html>